* {margin: 0; padding: 0;
}
table { 
    margin: 0 auto;
    border: 2px solid black;
    font-family: Tahoma;
    font-size: 1.5em;
}
td, th {
    border: 2px solid black;
    width: 120px;
    padding: 5px;
}

tr {
    height: 120px;
}
table tr td table tr {
    height: 50px;
}
th {
	font-size: 2.5em;
}
td.nested {
	font-size: 0.5em;
	vertical-align: center;
	text-align: center;
}
td.top-left {
	vertical-align: top;
}
td.top-right {
	vertical-align: top;
	text-align: right;
}
td.top-center {
	vertical-align: top;
	text-align: center;
}
td.bottom-center {
	vertical-align: bottom;
	text-align: center;
}
td.bottom-right {
	vertical-align: bottom;
	text-align: right;
}
td.bottom-left {
	vertical-align: bottom;
	text-align: left;
}
td.center-right {
	vertical-align: center;
	text-align: right;
	font-size: 1.4em;
	font-style: bold;
}