* { margin: 0; padding: 0; }
table {
    width: 400px;
    border: 2px solid #B3B5B4;
    margin: 0 auto;
}
th {
    font-size: 2.5em;
    text-align: left;    
    padding-bottom: 25px;
}
img {
	width: 140px;
	height: 140px;
}
#bold {
	 font-weight: bold;
	 margin-top: -10px;
     font-size: 1.2em;
     margin-left: 0.5em;
}
#normal {
     font-size: 1.2em;
     margin-left: 0.5em;
}