* { margin: 0; padding: 0; }
table, td, th {
    width: 400px;
    border: 1.5px solid black;
    margin: 0 auto;
    font-family: ariel;
    padding: 5px;
}
#title {
	font-size: 1.5em
}
tfoot td {
	text-align: right;
}
