html, body {
    top:0;
    padding: 0;
    margin: 0 auto;
}
body{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/bg.jpg);    
}

#playGround {
    display: flex;
    margin: 0 auto;
    width: 890px;
    justify-content: center;
    align-items: stretch;
    background-color: gray;
    border-top:solid 5px rgb(47, 47, 47);
    border-bottom: solid 5px rgb(47, 47, 47);
    border-left:solid 8px rgb(47, 47, 47);
    border-right:solid 8px rgb(47, 47, 47);
    box-sizing: border-box;
}
#playboard{
    position: absolute;
    margin: 0;
    padding: 0;
    	
}

#gameboard{
	background-color:grey;
	background:grey;
}
div#main {
    /* background-color: khaki; */
    margin: 0 auto;
    /*padding: 0; */
}
div#side{
    /*width: 220px;*/
    border-left: solid 7px rgb(47, 47, 47);
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div#dice-section{
    display: flex;
    flex-direction: column;   
}
#dice {
    background-image: url(../images/dice.gif);
    background-size: contain;
    background-repeat: no-repeat;
/*  width: 150px;
    height: 150px;
    float: left; */
    max-width: 100%;
}
div#dice-section canvas{
    padding: 4px 4px 1px 4px;
    border-radius: 26px;
    margin: 5px;
    width: 93%;
}
#dice-section > p{
    color: white;
    text-align: center;
    margin: 0.5em 0;
}
#dice-section #player {
    color: red;
    font-weight: bold;
}
#buttondiv{
    margin-top:0;
    padding-top:0;
}


#menu ul{
    list-style: none;
    padding: 0;
}
#menu ul li{
    width: 80%;
    background-color: rgb(229, 166, 49);
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5em;
    box-shadow: 2px -2px 9px #B0360A;
}
#menu a{
    text-decoration: none;
    color: white;
}

img {
	transition: all 2s ease;
}





