
#container {
	border: none;
	width: 800px;
	height: 800px;
	background-color: white;
	margin: auto;
	position: absolute;
	top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;     
}
#face {
	background-color: yellow;
	margin: auto;
	position: absolute;
	top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;  
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: 3px solid black;
}
.eyes {
	background-color: white;	
	position: absolute;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    border: 3px solid black;
    margin: auto;
}
#left-eye {
	top: 130px;
	left: 130px;
}
#right-eye {
	top: 130px;
	right: 130px;
}
.ball {
	background-color: black;
	position: absolute;
	border-radius: 50%;
	width: 20%;
    height: 20%;
	border: 3px solid black;	
}
#left-ball {
	right: 25px;
	bottom: 20px;
}
#nose {
	background-color: red;
	border-radius: 50%;
	width: 15%;
    height: 15%;
	border: 3px solid black;
	margin: auto;
	position: absolute;
	top: 0; 
    left: 0;
    bottom: 0; 
    right: 0;
}
#mouth{
    background: white;
    border-radius: 100px;
    width: 40%;
    height: 15%;
    border: 3px solid black;
    position: absolute;
    bottom: 170px;
    left: 220px;
}
.tEEth {    
    width: 20%;
    height: 50%;
    display: inline;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0;
    position: absolute;
    top: -3px;
    border: 3px solid black;
}

#left-tooth {
    left: 80px;
}
#right-tooth {
    right: 80px;
}



