

.site-nav {

    background: $color-orange;
    padding: 1rem 6rem;
    height: 50px;

        ul {

            display: flex;

            li {
                display: block;
                transition: transform 0.3s ease-in-out;    
            }

            li a {
                text-decoration: none;
                padding: 1rem 4rem;
                color: white;
                border-right: 1px dotted white;
                text-transform: uppercase;
                font-size: 15px;
            }

            li a:hover {
                color: black;
            }

            li:hover {
                transform: scale(1.1);  
                
            }

            li:nth-child(1) a {
                border-left: 1px dotted white; 
            }
        }
}

