
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    p:nth-child(1) {
        font-size: 1.2rem;
        color: $color-orange;
        letter-spacing: 5px;
        line-height: 0.5rem;
        text-align: right;
    }

    p:nth-child(2){
        font-size: 2.3rem;
        color: $color-black;
        margin-right: 0.5rem;
    }

    img {
        height: 60px;
    }
}


.site-header {
    display: flex;
    justify-content: space-around;

    .search {

        form div {
            display: flex;
            flex-direction: row;
        }
    
        input[type="search"] {
            border: none;
            background: $color-lightgray;
            text-align: center;
            width: 30rem;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
            margin-top: 3rem;
            /* box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.7) */
            outline: none;
        }
    
        input[type="submit"] {
            border: none;
            background: $color-black;
            padding: 10px 0;
            color:  $color-white;
            width: 5em;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
            margin-top: 3em;
            outline: none;
        }
    }

    .log-in {
        margin: 3em;

        .btn-log-in {
            background: $color-orange;
            
          }
    }
}

// .bg {
//     background-image: url('/../images/cover.jpg');
//     // background-image: url('https://cdn1.vectorstock.com/i/1000x1000/54/55/merry-christmas-poster-happy-new-year-vector-22685455.jpg');
//     background-size: cover;
//     background-position: center;
//     min-height: 40vh;
//     padding: 2em;
    
// }

.bg {
    overflow:hidden;
}
