@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

html {
    font: 14px/1.5 $font-custom;
}

body, button, input, option, select, form, table {
    font: inherit;
}

li {
    list-style-position: inside;
}

.btn-log-in, .btn-subscribe, 
.btn-cancel, .btn-create {
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 10px 50px;
  }

