
$font-custom: Verdana, 'Roboto Condensed', sans-serif;
$color-orange: #ff8d1b;
$color-black: #212121;
$color-lightgray: #EFEFEF;
$color-white: #fff;
$list-font-size: 13px;
$color-diff: #00202F; 
$color-diff2: #357E85;
