* {margin: 0; padding: 0;
}
table { 
    margin: 0 auto;
    border: 2px solid black;
}
td, th {
    border: 2px solid black;
    width: 120px;
    padding: 5px;
}

tr {
    height: 120px;
}
table tr td table tr {
    height: 50px;
}
button {
	color: #0000EE;
	width: 100%;
	height: 100%;
	font-family: Tahoma;
	font-size: 1.2em;
	background: linear-gradient(#EFEFEF 0, #EFEFEF 40%, #DDDDDD 45%, #DDDDDD 100%);
}
button.head {
	font-size: 1.7em;
	font-weight: bold;
}

td.nested {
	font-size: 0.9em;
}