<div *ngIf="notify" class="alert alert-success container marge">
    {{ notify }}
</div>
<ng-container *ngIf="auth.isAuthenticated()">

    <a class="btn btn-info btn-lg btn-block" routerLink="app-users-list">Users Panel</a>

    <a class="btn btn-info btn-lg btn-block" routerLink="firms-list">Firms Panel</a>

    <a class="btn btn-info btn-lg btn-block" routerLink="items-list">Items Panel</a>

</ng-container>
<ng-container *ngIf="!auth.isAuthenticated()">
    <p class="container text-center" style="color:red"><b>Please log in or register</b></p>
</ng-container>