

body {
	background-color: #ADD8E6;
	font-family: Calibri (Headings);
}
span {
	font-style: italic;
    display: block;
    margin-left: -35px;
}
h2, p {
	margin-left: -35px;
}
hr {
	margin-left: -35px;
}
.bold {
	font-style: normal;
    font-weight: bold;
    display: inline-block;
}
img {
	margin-left: -35px;
	width: 160px;
	height: 160px;
}