* {margin: 0; padding: 0;
}
table { 
    margin: 0 auto;
    border: 1px solid black;
}
td, th {
    border: 1px solid black;
    width: 60px;
}

tr {
    height: 70px;
}
button {
	width: 100%;
	height: 100%;
	font-family: Tahoma;
	font-size: 1.2em;
    font-weight: bold;
	background: #CADEE7;
}