form {
    margin: 0 auto;
    width: 350px;
    border: 1px solid black;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #FFF6F7;
}
h1 {
    text-align: center;
    font-weight: 700;
}
div {
    margin: 0 auto;
}
.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
input {
    display: block;
    margin-bottom: 5px;
}
    input[type="submit"] {
        width: 60%;
        margin-right: 5px;
    }
label {
display: block;
}
#firm {
display: none;
    }
#checkbox, .check-label {
display: inline-block;
cursor: pointer;
}
.required {
color: #ff0000;
}