/**
 * vars.scss
 *
 * Defines the SCSS variables used in this app.
 *
 */

// Typography
$base-font: 'Roboto', sans-serif;
$line-height: 1.7em; 

// Colors
$c-dark: #191614;
$c-accent: #de4f4f;
// $c-accent-hover: $c-accent + 30;
$c-accent-hover: #bf1f24;
$c-light: #f9f9f9;
$c-mid: #eee;

// Spacings
$base-gutter: 50px;